@font-face {
  font-family: "Josefin Sans";
  src: url("../src/assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../src/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: "DM Sans";
  src: url("../src/assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: "Miniver";
  src: url("../src/assets/fonts/Miniver//Miniver-Regular.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans";
}

.navigator {
  position: fixed;
  width: 50%;
  left: 25%;
  border-radius: 10px;
  background: #ad31a5;
  z-index: 1;
  margin-top: -5px;
  font-family: "Inter";
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 0em;
}
nav a {
  position: relative;
  margin: 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.4px;
  text-align: left;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
}
.navbar a:hover::before {
  width: 100%;
  transition: 0.3s;
}

nav a:hover {
  color: #fff;
}

.nav-btn {
  display: none;
}

/* @media only screen and (min-width: 601px) { */
.header-wallpaper,
.wallpaper2 {
  position: absolute;
  width: 100%;
  object-fit: cover;
  top: 0;
  z-index: -1;
}

.wallpaper2 {
  height: 300px;
}

.header-top {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: -1%;
  background: #f6cfa0;
  width: 100%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 1em;
  z-index: 1;
}

.purp-circle {
  margin: -8em 3em;
  z-index: -1;
  max-width: 38%;
  position: absolute;
}


.ring{
  position: absolute;
  width: 3%;
  top: 90%;
 left: 6%;
}
.header-content {
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-top: 18em;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
}

.header-content > h2,
.header-content > h4 {
  text-align: left;

  margin-left: 7%;
}

.header-content > h2 {
  width: 40%;
}

.header-content > h4 {
  width: 27%;
}

.header-description {
  width: 33%;
  margin-top: 2em;
}

button {
  width: 115px;
  height: 47px;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  border: none;
}

.cart-icon-container {
  position: fixed;
  left: 82%;
  cursor: pointer;
}

.cart-counter {
  position: absolute;
  margin-left: -1em;
  color: red;
  font-weight: 700;
}

.lets-talk {
  position: absolute;
  background: #ad31a5;
  left: 85vw;
}

.lets-talk-container {
  position: absolute;
  width: 296px;
  padding: 28px 29px;
  gap: 10px;
  border-radius: 19px;
  margin-left: -23em;
  margin-top: 8%;
  background: #f6cfa0;
  display: flex;
  flex-direction: column;
}

.talk-dot-container {
  width: 25px;

  height: 25px;
  border: 1px solid #adadad;
  background: #fff;
  border-radius: 24px;
}

.talk-option-menu {
  display: flex;
  gap: 1em;
  cursor: pointer;
}

.talk-option-menu > p {
  margin-top: 7px;
}

.talk-option-dot-active {
  position: absolute;
  padding: 4.4px;
}

.lets-talk2 {
  background: #f6cfa0;
  margin-top: 4em;
  margin-left: 10em;

  padding: 0;
}

.tag {
  max-width: 14.5%;
  position: absolute;
  margin-top: -2em;
  margin-left: -0.3em;
}

.services-container {
  margin-top: 15%;
}

.services-top {
  margin: 5em 3em;
  display: flex;
}

.services-top > .event-card {
  width: 55%;
}

.services-description {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

h3 {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  color: #ad31a5;
}

.services-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 26.48px;
  letter-spacing: 0.06em;
  text-align: left;
  width: 64%;
}

.book-us {
  background: #f6cfa0;
}

.event-overlay {
  text-align: center;
  margin-top: -3.5em;
  color: #fff;
}

.services-bottom {
  margin: 1em 3em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.event-card > img {
  width: 100%;
}

.specials-container {
  margin: 0em 3em;
  margin-top: -3em;
}

.specials-header > h3,
.specials-header > p {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.specials-header > h3 {
  margin-top: 4.5em;
}

.specials-header > p {
  margin-top: 1em;
}

.specials-header > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26.48px;
  letter-spacing: 0.06em;
  text-align: center;
  width: 40%;
}

.food-item-container {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-top: 4em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
}

.food-item-card {
  margin-top: 2em;
  width: 284.4px;
  height: 417px;
  border-radius: 25px;
}

.item-name {
  margin-top: 3em;
  font-size: 16px;
  font-weight: 900;
  line-height: 19.36px;
}

.food-details {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 284.4px;
  padding-bottom: 30px;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.33) 13.99%,
    rgba(151, 71, 255, 0.2376) 100%
  );
}

.rating-tab {
  justify-content: center;
  display: flex;
  gap: 7em;
}

.rating-icon {
  position: absolute;
  margin-left: -1.5em;
}

.price-cart {
  justify-content: center;
  display: flex;
  gap: 3em;
}

span {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #7c1575;
}

.add-cart {
  background: #7c1575;
  width: 115px;
  height: 32px;
  padding: 7px;
  border-radius: 6.86px;
  color: #fff;
  margin-top: 1.6em;
  cursor: pointer;
}

.services2-container {
  margin: 4em 0em;
  padding: 20px;
}

.services2-container > h3 {
  text-align: center;
}

.services2-wrapper {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.inner-carousel {
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease;
  padding-top: 1em;
}

.services2-card img {
  width: 300px;
  
}

.services2-card {
  text-align: center;
  padding-bottom: 1em;
  border-radius: 20px;
}



.service2-name {
  margin-top: -2em;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.review-top {
  display: flex;
  justify-content: space-between;
}

.feedback-container {
  margin: 5em 3em;
}

.feedback-container > h3 {
  text-align: center;
}

.review {
  box-shadow: 0px 8px 32px 0px #adadad29;
  padding: 1em;
  margin-top: 2em;
  border-radius: 20px;
}

.review:hover{
  background: #7c1575;
  color: #fff;
}
.review-scroll {
  padding: 24px 16px 24px 16px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 3em;
}

.star-rate {
  margin-top: 0em;
}

.review-image {
  position: relative;
  top: 2em;
  left: -6px;
}

.review-text {
  margin-top: 2.5em;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.01em;

  width: 100%;
}

.profile-name {
  margin-top: -2em;
}

.active-review {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.footer-container {
  background: #7c1575;
  padding: 4em;
  display: flex;
  justify-content: space-between;
  color: #fff;
  gap: 4em;
}

.footer-top > h2 {
  margin-top: 20px;
  font-family: "Miniver";
  font-size: 64px;
  font-weight: 400;
  line-height: 78px;
  text-align: center;
  width: 90%;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-bottom: 2em;
  justify-content: center;
 
}

a,
.social-link,
.whatsapp-button a {
  text-decoration: none;
  color: #fff;
}

.whatsapp-button {
  width: 245px;
  height: 47px;
  gap: 10px;
  border-radius: 10px;

  text-align: center;
  padding: 1em;
}

.book-us-footer,
.whatsapp-button {
margin: 0 auto;
  background: #f6cfa0;
}
.handle-icon,
.whatsapp-icon {
  position: absolute;
  margin-left: -1.8em;
  margin-top: -5px;
}

.footer-down {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  text-align: center;
}

.footer-down > p {
  margin-left: 23%;
}

.container-top {
  display: flex;
  margin: 2em 3em;
  justify-content: space-between;
}

.back-icon {
  position: absolute;
  width: 4%;
  margin-left: 2%;
  cursor: pointer;
}

.booking-content {
  position: relative;
  margin: 0em 2em;
}

.book-header {
  margin: 1.5em;
  text-align: center;
  color: #fff;
}

.book-us-form {
  background: linear-gradient(180deg, #fec1fa 20.14%, #f6d6e8 59.7%);
  text-align: center;
  padding: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.formcard-label {
  text-align: left;
  padding: 1em;
  margin: 0em 12em;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
}

input,
textarea {
  width: 70%;
  height: 57px;
  padding: 19px 28px;
  gap: 10px;
  border-top: none;
  border-bottom: solid lightgray;
  border-left: solid lightgray;
  border-right: solid lightgray;
  border-radius: 10px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}

textarea {
  resize: none;
  overflow: hidden;
  height: 302px;
}

.book-submit {
  margin: 0em 16em;
  background: #ad31a5;
}

.cart-flex {
  background: linear-gradient(180deg, #fec1fa 20.14%, #f6d6e8 59.7%);
  padding-bottom: 3em;
}

.cart-list {
  display: flex;
  justify-content: center;
  padding: 3em;
  gap: 9em;
}

.cart-detail {
  display: flex;
  gap: 4em;
}

.cart-detail > p {
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
  text-align: left;
}

.cart-card,
.total-card {
  margin-top: 1em;
}

.product,
.product-flex,
.quantity {
  display: flex;
}

.product-details {
  display: flex;
  flex-direction: row;
  margin-left: -8.5em;
  gap: 4em;
  margin-top: 2em;
  border: 1px solid #7c1575;
  height: 93px;
  border-radius: 5px;
}
.cart-image {
  position: absolute;
  margin-top: -1em;
  width: 5%;
  margin-left: 2em;
}

.product > p {
  margin-left: 7em;
  width: 120px;
}

.cart-detail {
  gap: 5.5em;
}

.product,
.price,
.total,
.trash {
  margin-top: 2em;
}

.quantity {
  margin-top: 1.3em;
}
.subtract, .addition{
  cursor: pointer;
}

.quantity-box {
  border: 1px solid;
  width: 34px;
  height: 33px;
  padding: 7px 8px;
}

.quantity > p {
  font-size: 24px;
  padding: 5px;
}

.trash-box {
  border-left: 1px solid #7c1575;
  margin-left: -3em;
  padding: 1em;
}
.trash {
  margin-top: 0.2em;
  left: -5%;
  cursor: pointer;
}

.total-card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  background: #fff;
  padding: 2em;
  border: 1px solid #7c1575;
  border-radius: 5px;
  width: 30%;
  height: auto;
}

.total-card > h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.total-details {
  display: none;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.price-total,
.delivery-tab,
.phone-tab,
.delivery-tab {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.checkout {
  margin: 0 auto;
  background: #f6cfa0;
  padding: 1em;
  margin-top: 1em;
}

.phone-tab > input,
.delivery-tab > input {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0px;
  width: 55%;
  margin-top: -2em;
}

.location-button {
  height: 10%;
}

.hidden,
.mobile {
  display: none;
}

.nothing-card {
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(180deg, #fec1fa 20.14%, #f6d6e8 59.7%);
}

.nothing-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.nothing-image {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.nothing-here {
  max-width: 100%;
  height: 100%;
}

.question-mark {
  max-width: 50%;
  height: 40%;
}

.nothing-wrapper > h4 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48.41px;
  margin-top: 2em;
}

.nothing-wrapper > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
}

.success-tab {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 704px;
  height: 604px;
  padding-bottom: 6em;
  gap: 1em;
  border-radius: 30px;
}

.success-icon {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
.ok {
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.success-text {
  font-family: "Inter";
  font-size: 64px;
  font-weight: 600;
  line-height: 77.45px;
  color: #7c1575;
  margin-top: -2em;
}

.success-paragraph {
  margin: 0 auto;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  width: 50%;
  text-align: left;
}

.ok {
  font-family: "Inter";
  font-size: 40px;
  font-weight: 600;
  line-height: 48.41px;
  color: #7c1575;
}

.back-to-top {
  position: fixed;
  background: none;
  outline: none;
  border: none;
  bottom: 1px;
  left: 95%;
  z-index: 1;
  cursor: pointer;
}

.top-arrow{
  width: 100%;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.animate-h2 {
 
  white-space: nowrap;
  overflow: hidden; /* Hide overflow so cursor appears right after text */
  border-right: 0.15em solid rgba(0,0,0,0.75);
  animation: 
    typewriter 4s steps(40, end) 1s 1 normal both,
    blink 500ms steps(40, end) infinite;
}



@media only screen and (width >2022px) {
  .header-content {
    margin-top: 15%;
  }
  .header-content > h2 {
    width: 35%;
  }
  .services-container {
    padding-top: 5em;
  }
}

@media only screen and (width > 1509px) {
  .navbar {
    gap: 4em;
  }
  .header-content {
    margin-top: 20%;
  }

  .header-content > h2 {
    font-size: 58px;
    line-height: 62px;
    width: 32%;
  }

  .header-content > h4 {
    width: 30%;
    font-size: 20px;
  }
  .purp-circle {
    width: 800px;
    margin-left: 5em;
    margin-top: -10em;
  }

  .tag {
    margin-top: -35px;
  }
  .lets-talk2 {
    margin-left: 15em;
  }
  .event-image1 {
    max-width: 20%;
  }

  .event-card > img {
    width: 100%;
  }
  .services-container {
    margin: 0% 5%;
    margin-top: 17%;
  }

  .services-bottom {
    margin: 1em 3em;
    display: flex;
    justify-content: space-around;
  }

  .food-item-container {
    place-items: center;
    gap: 5em;

  }

  .services-paragraph {
    width: 50%;
  }

  .cart-icon-container {
    position: absolute;
    left: 80%;
  }

  .review-inner-carousel {
    margin: 0 15em;
  }

  

  .food-item-container {
    margin: 3em 20em;
  }

  .formcard-label {
    margin-left: 15%;
  }

  .cart-image {
    max-width: 3%;
    margin-left: 1em;
    margin-top: -1.2em;
  }

  .book-submit {
    margin: 0em 21em;
  }
}
@media only screen and (width > 1220px) and (width <1440px) {
  .formcard-label {
    margin-left: 15%;
  }

  .lets-talk-container {
    max-width: 50%;
  }
}

@media only screen and (width > 701px) and (width <1220px) {
  .navigator {
    margin-top: 0.5em;
  }
  .header-top {
    margin: 1em 2em;
  }

  .lets-talk {
    margin-top: 3em;
    height: 30px;
    padding: 0;
  }
  .lets-talk-container {
    max-width: 30%;
    margin-top: 8em;
    margin-left: -21em;
  }

  .food-item-container,
  .review-scroll {
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 2fr;
  }

  .header-top {
    top: -1%;
    width: 100%;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .header-content {
    position: relative;
    margin: 0 auto;
    margin-top: 25%;
  }

  .header-content > h2,
  .header-content > h4 {
    margin-left: 8%;
  }

  .header-content > h2 {
    font-size: 28px;
    line-height: 25px;
    width: 33%;
  }

  .header-content > h4 {
    width: 33%;
    font-size: 12px;
  }

  .purp-circle {
    margin: -5em 3em;
    max-width: 35%;
  }

  .tag {
    margin-top: -1.5em;
  }

  .lets-talk2 {
    margin-top: 10px;
  }

  .event-image1 {
    position: absolute;
    max-width: 30%;
    height: auto;
    left: 65%;
  }

  .services-container {
    margin-top: 11em;
  }

  .specials-container {
    margin-top: -5em;
  }

  .add-cart {
    margin-top: 1.5em;
  }

  .services-paragraph {
    width: 50%;
  }

  .container-top {
    margin: 5px 2em;
  }

  .back-icon {
    margin-left: 20px;
    margin-top: 1em;
    width: 4%;
  }

  .wallpaper2 {
    height: 250px;
  }

  .product > p {
    width: 110px;
  }

  .total-card {
    width: 40%;
  }

  .cart-list {
    margin-left: 5em;
  }

  .cart-detail {
    margin-left: 3em;
  }

  .product-details {
    margin-left: -4em;
    gap: 4em;
  }

  .cart-card,
  .total-card {
    margin: 0 auto;
  }

  .total-card {
    width: 400px;
  }

  .formcard-label {
    margin-left: 15%;
  }
  .cart-image {
    margin-top: -1.2em;
    width: 7%;
    margin-left: 1em;
  }
  
  .footer-container {
    margin: 0 auto;
  
    flex-direction: column;
   
  
  }

}

@media only screen and (width > 701px) and (max-width: 999px) {
  .ring{
   
   left: 10%;
  }
  .lets-talk-container {
    margin-top: 7em;
    margin-left: -17em;
  }

  .lets-talk {
    margin-left: -2em;
  }

  .lets-talk2 {
    height: 30px;
    margin-left: 7.5em;
  }
  .logo {
    margin-left: -1em;
  }
  .navigator {
    max-width: 600px;
  }

  .header-content {
    position: relative;
    margin: 0 auto;
    margin-top: 27%;
  }

  .product-details {
    width: 650px;
  }

  .quantity {
    margin-left: -1em;
  }

  .cart-list {
    gap: 1em;
    margin-left: 4em;
  }
  .services-container {
    margin-top: 13%;
  }
  .services-top > .event-card {
    width: 100%;
  }

  .services-paragraph {
    width: 90%;
  }

  .event-overlay {
    text-align: center;
    margin-top: -3em;
    color: #fff;
  }
  .event-card > img {
    width: 250px;
  }

  .cart-icon-container {
    margin-right: -40%;
  }

  .services-paragraph {
    width: 50%;
  }

  .services-bottom {
    margin: 1em 3em;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 4em;
    place-items: center;
  }

  .specials-container {
    margin-top: -7em;
  }

  .specials-header > p {
    width: 80%;
  }

  .cart-icon-container {
    position: absolute;
    left: 80%;
  }

  .cart-image {
    width: 10%;
  }

  .event-image1 {
    position: absolute;
    max-width: 30%;
    height: auto;
    left: 60%;
    margin-top: 2.2em;
  }

  .container-top {
    margin: 1em 1em;
  }

  .inner-carousel {
    display: grid;
    grid-template-columns: 2fr 2fr;
 
  }

  .footer-top > h2 {

    font-size: 34px;
  }

  .footer-flex{
    margin-top: -3em;
  }

}

@media only screen and (width< 702px) {
  .back-to-top {
    left: 90%;
  }
  .top-arrow{
    width: 100%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  .cart-icon-container {
    margin-top: 10px;
    margin-left: -5px;
  }
  .navbar.links {
    display: none;
  }

  .navbar.links.visible {
    display: flex;
    gap: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: #ad31a5;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
  }

  .navbar.links a {
    margin: 1rem;
    color: #fff;
    text-decoration: none;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }

  .navbar.links a:hover {
    color: black;
  }

  .nav-btn {
    display: flex;
    position: fixed;
    left: 85%;
    top: 1%;
    background: transparent;
    padding: 1px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #f6cfa0;
    font-size: 1.2rem;
    z-index: 1;
  }
  .header-wallpaper {
    position: absolute;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    top: 0;
    z-index: -1;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
  }

  .header-top {
    display: flex;
    margin: 0em 0em;
    position: relative;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background: none;
  }

  .logo {
    padding:0em 2em;
    
    margin-left: -5%;
  }

  .purp-circle {
    margin: -7em 3em;
    z-index: -1;
    max-width: 60%;
    position: absolute;
  }

  .header-content {
    position: relative;
    margin: 0 auto;
    margin-top: 60%;
  }

  .header-content > h2,
  .header-content > h4 {
    text-align: left;
    margin-left: 13%;
  }

  .header-content > h2 {
    width: 50%;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
  }

  .header-content > h4 {
    width: 40%;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
  }

  h3 {
    margin: 0 auto;
    font-size: 20px;
    line-height: 20px;
  }
  .tag {
    position: absolute;
    margin-top: -1.5em;
    margin-left: -0.3em;
    max-width: 25%;
  }

  .services-container {
    margin-top:30%;
   }

  .services-paragraph {
    font-size: 12px;
    line-height: 19.86px;
    padding: 1em 5em;
    width: 100%;
  }

  .services-top {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .services-top > .event-card {
    width: 100%;
  }
  .event-image1 {
    position: relative;
    width: 50%;

    left: 0%;
  }

  .services-bottom {
    margin: 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 4em;
  }

  .specials-container {
    margin: 0em 1em;
  }

  .specials-header > p {
    font-size: 12px;
    line-height: 19.86px;
    width: 100%;
    padding: 1em 4em;
  }

  .event-card {
    margin: 0 auto;
    max-width: 60%;
    height: auto;
  }

  .event-overlay {
    margin-top: -29px;
  }

  .book-us {
    background: #f6cfa0;
    margin: 0 auto;
  }

  .food-item-container {
    margin: 0 auto;
    margin-top: 1em;
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 3em;
  }

  .carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    /* Hide vertical scrollbar */
  }

  .food-item-card {
    width: 100%;
    cursor: grab;
  }

  .food-item-card:active {
    cursor: grabbing;
  }

  .rating-icon {
    margin-left: -2em;
  }

  .price-cart {
    margin-top: -1em;
  }
  .rating-tab > p,
  .price-cart > p,
  span,
  .add-cart > p {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
  }

  .add-cart {
    width: 83px;
    height: 20px;
    padding: 3px;
    gap: 4.57px;
    border-radius: 6.86px;
    margin-top: 1em;
  }

  .plus-icon {
    position: absolute;
    margin-left: -1.6em;
    max-width: 3%;
  }

  .item-name {
    font-size: 12px;
    font-weight: 700;
    line-height: 14.52px;
  }

  .container-top {
    margin: 1em 0em;
  }

  .container-top > img {
    width: 101px;
    height: 50px;
    margin-left: -1em;
  }

  .back-icon {
    position: absolute;
    margin-top: -5%;
    margin-left: -1.5em;
  }

  .lets-talk,
  .lets-talk2 {
    font-size: 12px;
    font-weight: 600;
    line-height: 14.52px;
    width: 80px;
  }

  .lets-talk2 {
    margin: 0 auto;
    margin-top: 2em;
    margin-left: 23%;
  }

 

  .services2-container h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  .services2-wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrollbar */
  }

  .services2-carousel {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
  }

  .services2-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: none;
    padding: 16px;
    text-align: center;
    width: 200px;
    height: 200px;

    flex-shrink: 0; /* Prevent shrinking in the carousel */
  }

  .services2-card img {
    max-width: 100%;
    height: auto;
  }

  .service2-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  .services2-wrapper::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

  .feedback-container {
    margin: 2em 2em;
  }

  .review-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
 
  }

  .review-inner-carousel {
    display: flex;
    width: 100%;
  }

  .review-scroll {
    display: flex;
    flex-direction: row;
    width: 300%; /* Width is 3 times the container width to fit all cards */
    transition: transform 0.5s ease; /* Smooth transition for sliding */
    gap: 2em;
  }

  .review {
    box-sizing: border-box;

    gap: 1em;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    padding: 10px 16px;
    gap: 16px;
    border-radius: 24px;
    width: 306px;
  }

  .review-top {
    display: flex;
    align-items: center;
    margin-top: 3em;
    gap: 3em;
  }

  .profile-name {
    display: flex;
    align-items: center;
    margin-top: -0.1em;
    margin-left: 3em;
    position: relative;
  }

  .review-image {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -3em;
    margin-top: -4em;
  }

  .star-rate {
    width: 100px;
  }

  .review-text {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
  }

  .active-review {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }


  .active {
    opacity: 1;
    width: 26px;
    height: 6px;
    margin-top: 2px;
  }

  .non-active {
    opacity: 0.5;
    width: 10px;
    height: 10px;

  }

  .book-us-form {
    padding: 0rem;
    margin-top: -1em;
  }

  .book-header {
    margin: 1.3em;
  }

  form {
    gap: 0em;
    margin-top: 2em;
  }

  .formcard-label {
    margin: 1em 2em;
    font-family: "Josefin Sans";
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    padding: 0;
  }

  .full-name {
    margin-top: 3em;
  }

  input,
  textarea {
    width: 90%;
    height: 40px;
    padding: 19px 28px 19px 28px;
    gap: 10px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
  }

  .book-submit {
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 3em;
    background: #ad31a5;
  }

  button {
    width: 113px;
    height: 27px;
    gap: 10px;
    border-radius: 10px;
    padding: 0;
    margin: 1em;
  }

  .success-tab {
    width: 253px;
    height: 340px;
    border-radius: 30px;
  }

  .footer-container {
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    gap: 1em;
    padding: 2em 1em;
  }

  .logo-pad {
    width: 123px;
    height: 47px;
    border-radius: 11px;
  }

  .footer-top > h2 {
    margin: 0 auto;
    margin-top: 0px;
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    width: 100%;
  }

  .footer-middle,
  .footer-down {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .book-us-footer {
    margin-top: -5em;
    
  }

  .social-link {
    margin-left: 2em;
  }

  .whatsapp-button {
    margin: 0 auto;
    width: 220px;
    height: 37px;
    gap: 80px;
    border-radius: 10px;
    background: #f6cfa0;
    text-align: center;
    padding: 12px;
  }

  .whatsapp-button > P {
    margin-left: 1em;
    font-size: 14px;
    font-weight: 600;
    line-height: 14.52px;
  }
  .whatsapp-icon {
    width: 20px;
    margin-left: -1.5em;
  }

  .footer-flex {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    margin: 0em -1em;
    margin-top: 2em;
  }

  .footer-down > p {
    margin-top: 1.3em;
    font-size: 14px;
    font-weight: 600;
    line-height: 14.52px;
  }

  .footer-middle > p {
    margin-top: 1em;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.52px;
    text-align: left;
  }

  .handle-icon {
    width: 24px;
    position: absolute;
    margin-left: -2em;
    margin-top: -5px;
  }

  .success-text,
  .ok {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
  }

  .success-paragraph {
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    width: 70%;
  }

  .container-top {
    margin: 5px 1em;
  }

  .back-icon {
    margin-left: 5px;
    margin-top: 1em;
    width: 5%;
  }

  .wallpaper2 {
    height: 140px;
  }

  .cart-list {
    margin: 0 auto;
    flex-direction: column;
    padding: 1em;
    gap: 4em;
  }
  .cart-detail {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    text-align: center;
    margin-left: -2em;
  }

  .cart-detail > p {
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
  }

  .trash-box {
    position: absolute;
    right: 10%;
    height: 48px;
  }

  .trash {
    position: relative;
    width: 19px;
    height: 24px;
    margin-top: -0.3em;
    margin-left: -1em;
  }

  .cart-flex {
    width: 100%;
  }

  .product-details {
    position: relative;
    display: flex;
    margin: 0 auto;
    gap: 1.9em;
    margin-top: 1em;
    margin-left: 5em;
    border: 1px solid #7c1575;
    height: 48px;
    width: 300px;
    margin-left: 4em;
    border-radius: 5px;
  }
  .product {
    width: 40%;
  }

  .cart-detail {
    gap: 2em;
    margin-left: -1em;
  }

  .cart-image {
    position: absolute;
    width: 41px;
    height: 41px;
    margin-left: 1em;
    margin-top: -1.9em;
  }

  .product > p {
    margin-left: 6em;
    margin-top: -1.5em;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
  }

  .quantity,
  .price,
  .total {
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    margin-top: 1em;
  }
  .price,
  .total {
    margin-top: 2em;
  }

  .product,
  .quantity,
  .price,
  .total {
    margin-left: -1em;
  }

  .quantity {
    margin-left: -3em;
  }

  .quantity-box {
    width: 100%;
    height: 26px;
  }

  .quantity-box > p {
    margin-left: -0.2em;
  }

  .total-card {
    margin: 0 auto;
    margin-top: 0em;

    height: auto;
  }

  .total-card > h4 {
    font-size: 16px;
  }

  .total-card {
    p {
      font-size: 10px;
    }
  }

  .total-details {
    gap: 1.4em;
  }

  .checkout {
    padding: 0em;
    margin-top: 0em;
    height: 24px;
    width: 84px;
  }

  .nothing-wrapper > h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
  }

  .nothing-wrapper > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
  }

  .nothing-image {
    margin: 0 auto;
    width: 36.1%;
  }

  .nothing-wrapper {
    padding: 3em;
  }
}

@media only screen and (width >390px) and (width <701px) {
  .ring{
   width: 10%;
    left: 12%;
   }
 

  .header-content > h2 {
    width: 50%;
  }
  .header-content > h4 {
    width: 65%;
  }

  .tag {
    margin-top: -1.3em;
  }
  .header-content > h2,
  .header-content > h4 {
    margin-left: 12%;
  }
  .purp-circle {
    margin: -6em 2em;
    z-index: -1;
    max-width: 310px;
    position: absolute;
  }

  .services-container {
    margin-top: 35%;
  }
  .services-paragraph {
    width: 100%;
    padding: 0;
  }

  .event-overlay {
    margin-top: -25px;
  }

  .total-card {
    width: 300px;
  }

  .product-details {
    width: 350px;
    margin-left: 1em;
  }

  .trash-box {
    position: absolute;
    left: 100%;
    height: 48px;
  }
  .product-flex {
    display: flex;
    margin-left: 1%;
  }

  .product-details {
    margin: 0 auto;
  }

  .lets-talk-container {
    position: absolute;

    max-width: 50%;
    margin-left: -55%;
    margin-top: 4em;
  }
}

@media only screen and (width >391px) and (width <649px){
  .header-content {
    position: relative;
    margin: 0 auto;
    margin-top: 60%;
  }
  .services-container {
    margin-top:19em;
   }

 
}

@media only screen and (width < 391px) {
  .logo {
    padding:0em 1em;
    width: 50%;
    
  }

  .ring{
    width: 10%;
     left: 16%;
    }
  .wallpaper2 {
    height: 300px;
  }

  .header-content > h2,
  .header-content > h4 {
    margin-left: 10%;
  }
  .header-content {
    margin: 0 auto;
    margin-top: 11em;
  }
  .header-content > h2 {
    width: 90%;
  }

  .header-content > h4 {
    width: 80%;
  }

  .tag {
    position: absolute;
    margin-top: -1.2em;
    max-width: 35%;
  }
  .purp-circle {
    margin: -6em 1em;
    z-index: -1;
    max-width: 90%;
  }

  .lets-talk2 {
    padding: 0em;
    height: 24px;
  }

  .specials-header > p {
    padding: 1em;
  }

  .plus-icon {
    margin: 0;
    margin-left: -1.2em;
    margin-top: 0.1em;
  }

  .services-container {
    margin-top: 75%;
  }
  .services-paragraph {
    font-size: 12px;
    line-height: 19.86px;
    padding: 0em 0em;
    width: 100%;
  }

  .event-card {
    margin: 0 auto;
    max-width: 90%;
    height: auto;
  }

  .event-overlay {
    margin-top: -25px;
  }

  .trash-box {
    position: absolute;
    left: 50%;
    height: 48px;
  }

  .product-details {
    width: 100%;
    margin-left: 5px;
  }

  .trash-box {
    position: absolute;
    left: 103%;
    height: 48px;
  }

  .trash {
    margin-top: 0.2em;
    left: -22%;
  }

  .cart-detail {
    margin-left: 0em;
  }

  .footer-container {
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    gap: 1em;
    padding: 2em 0em;
  }

  .whatsapp-button {
    width: 175px;
    height: 47px;
    border-radius: 10px;
    background: #f6cfa0;
    text-align: center;
    padding: 0.7em;
  }

  .footer-down > p {
    margin-left: -0.1em;
  }

  .footer-flex {
    width: 60%;
    margin-left: 20%;
    gap: 0em;
  }

  .total-card {
    width: 85%;
  }
  .container-top {
    margin: 1em;
  }

  .product > p {
    margin-top: -2em;
  }
  .lets-talk-container {
    position: absolute;

    max-width: 60%;
    margin-left: -80%;
    margin-top: 4em;
  }
}

@media only screen and (width < 370px) {

  .header-content > h4 {
    width: 70%;
  }

  .trash-box {
    position: absolute;
    left: 107%;
    height: 48px;
    width: 3px;
  }

  .trash {
    margin-top: -0.2em;
    left: -22%;
  }
  .services-container {
    margin-top: 69%;
  }
}
